<!DOCTYPE html>
<html lang="en">
<body>

                <div class="container">

                        <header class="header">

                                <nav
                                        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
                                >
                                        <a
                                                href="/"
                                                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
                                        >
                                                <span class="fs-4">Lehigh Hackathon 2024</span>
                                        </a>

                                </nav>

                        </header>


                         <div class="row marketing">

                                <div class="col-lg-6">

                                        <h4>heheha</h4>

                                        <p>
                                                Upload two files and watch as their palettes are swapped!
                                        </p>


                                </div>

                        </div>

<div class="p-5 mb-4 bg-light rounded-3">
                                <div class="container-fluid py-5 text-center">
                                        <h1 class="display-5 fw-bold">Palette Swapper 9000</h1>

                                        <p>
                                                <!--
                                                <a class="btn btn-lg btn-success" href="signup" role="button"
                                                        >Upload Files Here</a
                                                >
                                                -->

                                                <label for="palette">Choose an image to be the color palette:</label>
                                                <input type="file" id="palette" name="palette" accept="image/png, image/jpeg" />
                                                <label for="swapped">Choose an image to have its color's swapped:</label>
                                                <input type="file" id="swapped" name="swapped" accept="image/png, image/jpeg" />
                                        </p>
                                </div>
                        </div>


                        <footer class="footer">

                                <p>&copy; Michael Connors and Evan Tilton 2024</p>

                        </footer>

                </div>
        </body>
</html>
